body {
    display: flex;
    justify-content: space-between;
    margin: 0in;
    background-color:rgb(128, 127, 127);
    border-top: 5px solid black;
}
main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    border: 8px solid rgb(0, 0, 0);
    background-color: rgb(128, 127, 127);
    text-align: center;
    table-layout: fixed;
    width: 98%;
    margin: 3vh 1%;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tr {
    height: 4em;
}
th {
    border: 1px solid black;
    background-color: rgb(240, 191, 33);
    font-size: 200%;
    letter-spacing: 0.1em;
    word-spacing: 0.25em;
    font-weight: bold;
    text-wrap: wrap;
}
td {
    border: 1px solid black;
    background-color: white;
    font-size: 140%;
    overflow-wrap: break-word;
    text-wrap: wrap;
}
h5 {
    background-color: white;
    color: black;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    text-wrap: wrap;
}
a {
    background-color: white;
    color: black;
    border-top: 4px solid rgb(0, 0, 0);
    border-bottom: 4px solid rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-style: italic;
}
.left-sidebar, .right-sidebar {
    border-left: 5px solid black;
    border-right: 5px solid black;
    min-width: 10%;
    max-width: 10%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    justify-content: baseline;
    background-color: rgb(240, 191, 33);
    overflow: hidden;
}
.sidebar {
    border-bottom: 3px solid black;
    background-color: white;
    font-size: 130%;
}
.left-links {
    font-size: 150%;
    border: none;
}
.winner {
    background-color: rgb(228, 195, 105);
}
.year {
    border: none;
    font-size: 120%;
}
.short-section {
    display: flex;
    width: 80%;
}
.short-table {
    font-size: 15px;
//    width: auto;
   height: 90vh;
    word-spacing: initial;
    letter-spacing: initial;
    table-layout: auto;
}
.short-row {
   height: 5px;
}
.short-head {
    font-size: 150%;
    padding: 0;
    margin: 0;
    word-spacing: inherit;
    letter-spacing: inherit;
    line-height: 1.2em;
}
#except {
    border: none;
}

/*
* add main around tables in years
* editing short-table class
*/