body {
    color: red;
    font-family: "Chamok";
    font-size: 50px;
    transition: 4s ease-in-out 2s;
}
#normal-weight {
    font-weight: normal;
}
#bold-weight {
    font-weight: bold;
}
#ten-light {
    font-weight: 1000;
}
#nine-light, #eight-light, #seven-light, #six-light, #five-light, #four-light, #three-light, #two-light, #one-light {
    font-weight: lighter;
}
#bolder, #bold-bolder {
    font-weight: bolder;
}
body:hover {
    color: black;
    background-color: red;
}
@font-face {
    font-family: "Chamok";
    src: url(files/chamok-font.otf) format(woff);