@font-face {
    font-family: "Chamok";
    src: url(files/chamok-font.otf) format(woff);
}
body {
    background-color: rgba(65, 192, 14, 0.808);
    transition: background-color 400ms ease-in .5s;
}
body:hover {
    background-color: rgb(253, 168, 182);
}
header {
    border: 7px solid rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
}
table {
    border: 7px solid rgb(0, 0, 0);
    background-color: rgb(128, 127, 127);
    table-layout: fixed;
    width: 4.6in;
    text-align: center;
    position: absolute;
    left: 2.7in;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tr {
    height: 35px;
}
th {
    border: 1px solid black;
    background-color: rgb(238, 199, 70);
    font-size: 130%;
}
td {
    border: 1px solid black;
    background-color: white;
}
section {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
    margin-top: 10px;
    width: 2.75in;
    text-align: center;
}
.main-title {
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: 0.6in;
//    font-family: "Chamok";
}
img {
    border-radius: 20px;
    max-width: 2.5in;
    height: auto;
    margin-top: 30px;
    position: absolute;
    left: 0.10in;
    top: 100px;
}
.noms {
    top: 220px;
//    left: 33.3%;
}
.wins {
    top: 60px;
//    left: 33.3%;
}
#contributors {
    top: 610px;
//    left: 33.3%;
}
section {
    position: absolute;
    right: 5%;
    top: 60px;
    width: 2in;
}
nav {
    position: relative;
//    right: 52%;
//    top: 90%;
}