html {
    background-color: rgb(204, 204, 14);
    border: 5px solid green;
}
body {
    border: 5px solid red;
}
div, section, p, nav, header, main, footer, address, article {
    border: 1px solid black;
}