#border {
    border: 5px solid red;
}




#red-color {
    color: red;
}
#rgb-color {
    color: rgb(185, 235, 71);
}
#normal-font-weight {
    font-weight: normal;
}
#bold-font-weight {
    font-weight: bold;
}