body {
    margin: 0;
    padding: 0;
    color: turquoise;
    border: 5px solid darkgreen;
    box-sizing: border-box;
    height: 100%;
}
html {
    height: 100%;
}
td, th {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    color: orange;
}
* {
    text-transform: uppercase;
}
[href] {
    color: black;
}
ol[type*="I"] {
    color: red;
}
#csslink:link {
    font-family: arial;
    font-weight: bold;
    text-decoration: none;
    color:black;
    background-color: rgb(72, 235, 247);
    border: 3px solid black;
    padding: 5px;
    margin: 5px;s
    position: absolute;
}
#csslink:visited {
    background-color: rgb(20, 236, 74);
}
#csslink:hover {
    background-color: rgb(197, 179, 16);
}
#csslink:active {
    background-color: rgb(250, 8, 210);
}