html {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
body {
    display: grid;
    justify-content: center;
//    border: 1px solid black;
    background-color:rgb(128, 127, 127);
    margin: 0px;
    padding: 0.5in;
}
table {
    border: 7px solid rgb(0, 0, 0);
    background-color: rgb(128, 127, 127);
    text-align: center;
    border-radius: 7px;
    table-layout: fixed;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tr {
    height: 30px;
}
th {
    border: 1px solid black;
    background-color: rgb(238, 199, 70);
    font-size: 110%;
}
td {
    border: 1px solid black;
    background-color: white;
}