body {
    border: 1px solid black;
}
div {
    border: 1px solid red;
    width: 1in;
    height: 1in;
//    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#twoparent {
    border: 1px solid green;
    position: absolute;
    width: 2in;
    height: 2in;
    right: 1.5in;
}
#flexbox {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10in;
}
#home {
    position: static;
}
/* the position follows the flow of the document and will not change. */
#one {
    position: absolute;
    right: 0in;
}
/* the position relates to the <html> container by default because there
* is no positioned parent element. */
#two {
    position: absolute;
    right: 0.5in;
    top: 0.5in;
}
/* the position relates to the positioned parent element because the
* section element has a non-static value. */
#three {
    position: absolute;
}
/* the element overlaps with the next static element because the absolute
* value removes the element from the flow of static elements and there is
* no direction property applied */
#four {
    position: static;
}
#five {
    position: fixed;
    background-color: lightblue;
}
/* the position is fixed within the viewport and will not change position
* upon scrolling. the element will overlap with other elements and may be
* made opaque to cover a fixed section of the viewport. */
#six {
    position: relative;
    left: 2in;
}
/* the position relates to the initial position of the element in the
* static flow of the document. other elements with static positioning
* will remain in the same position as if the element were static */
#seven {
    position: sticky;
    top: 2in;
    left: 4in;
}