body {
    display: flex;
    justify-content: space-between;
    margin: 0in;
    background-color:rgb(128, 127, 127);
    border-top: 7px solid black;
}
table {
    border: 8px solid rgb(0, 0, 0);
    background-color: rgb(128, 127, 127);
    text-align: center;
    table-layout: fixed;
    width: 80%;
    margin: 4vh 1%;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tr {
//    max-height: 0.1in;
    height: 0.6in;
}
th {
    border: 1px solid black;
    background-color: rgb(240, 191, 33);
    font-size: 200%;
    letter-spacing: 0.1em;
    word-spacing: 0.25em;
    font-weight: bold;
    max-height: 0.1in;
    text-wrap: wrap;
}
td {
    border: 1px solid black;
    background-color: white;
    font-size: 130%;
    overflow-wrap: break-word;
 //   text-overflow: ellipsis;
    max-height: 0.1in;
    text-wrap: wrap;
}
h5 {
    background-color: white;
    color: black;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    text-wrap: wrap;
}
a {
    background-color: white;
    color: black;
    border-top: 4px solid rgb(0, 0, 0);
    border-bottom: 4px solid rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
//    color: red;
    text-decoration: underline;
    font-style: italic;
}
.left-sidebar, .right-sidebar {
    border-left: 5px solid black;
    border-right: 5px solid black;
    min-width: 10%;
    max-width: 10%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    justify-content: baseline;
    background-color: rgb(240, 191, 33);
    overflow: hidden;
}
.sidebar {
    border-bottom: 4px solid black;
    background-color: white;
    font-size: 130%;
}
.left-links {
    font-size: 150%;
    border: none;
}
#except {
    border: none;
}